*{
    font-family: "Poppins", sans-serif;
}
.hero{
    background-image: url("/assets/banner-image.png");
    background-size: cover;
    background-position: center;
    
}
.tag{
    color: blue;
    background-color: rgba(0, 0, 255, 0.218);
    padding: 3px 5px;
    border-radius: 10px;
    font-size: smaller;
    height: 25px;
}
img{
    height: 256px;
}